<div id="mainnav">
  <div class="container">
    <nav>
      <a href="/" class="brand" title="{{ site.title }}">
        Dart4Web
      </a>
      <ul>
        <li><a href="/guides/get-started">Get Started</a></li>
        <li><a href="/frameworks">Frameworks</a></li>
        <!-- xxx: We might comment this tab out for launch, as we don't have
             enough content written yet.
        <li><a href="/guides">Guides</a></li>
        -->
        <li><a href="/tools">Tools</a></li>
        <li class="hide">
          <input id="search" type="text" placeholder="Search">
          <!-- <i class="icon">search</i> -->
        </li>
      </ul>
    </nav>
  </div>
</div>
