<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.slug }}">
    <div class="mdl-layout mdl-js-layout">
      {% include page-header.html %}
      <main id="page-content" class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <section>
              <div class="well">
                Wel dont ya
              </div>
            </section>
          </div>
          <div class="mdl-cell mdl-cell--8-col">
            <div class="page-content">{{ content }}</div>
          </div>
        </div>
      </main>
      {% include page-footer.html %}
    </div>
  </body>
</html>
