<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.slug }}">
    <div class="mdl-layout mdl-js-layout">
      {% include page-header.html %}
      <main id="page-content" class="mdl-layout__content">
        <article>
          {% if page.toc %}
            <aside>
              {% include navigation-toc.html %}
            </aside>
          {% endif %}
          <section>
            {{ content | inject_anchors }}
          </section>
        </article>
      </main>
      {% include page-footer.html %}
    </div>
  </body>
</html>
